{#
 # -------------------------------------------------------------------------
 # Carbon plugin for GLPI
 #
 # @copyright Copyright (C) 2024-2025 Teclib' and contributors.
 # @license   https://www.gnu.org/licenses/gpl-3.0.txt GPLv3+
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 #
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Carbon plugin for GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{{ fields.largeTitle(
    __('Usage', 'carbon'),
    'fas fa-chart-pie'
) }}

{{ usage_carbon_emission_graph|raw }}
<div class="card-body d-flex flex-wrap" id="plugin_carbon_usage_impacts">
  <div class="col-12 col-xxl-12 flex-column">
    <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
      <div class="row flex-row align-items-start flex-grow-1 col-12 col-sm-6 mb-2">
        {% for criteria, label in usage_labels %}
          {% if usage_impact.fields[criteria] ?? null is not null %}
            <div class="col-xxl-7">
              {{ label }}
            </div>
            <div class="col-xxl-5">
              <span id="usage_{{ criteria }}_tip">
                {{ usage_impact.getHumanReadableImpact(criteria)|raw }}
                {# <i class="fa-solid fa-circle-info"></i> #}
              </span>
              {{ usage_tooltips[criteria]|raw }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% if usage_impact.fields.gwp ?? null is not null %}
    <div class="h1 mb-3">{{ usage_impact.getHumanReadableImpact('gwp')|raw }}</div>
  {% endif %}
</div>

<div>
  {% if not usage_impact.isNewItem() or usage_carbon_emission_count > 0 %}
    {% set reset_args = "{_glpi_csrf_token: '" ~ csrf_token() ~ "', reset: '', itemtype: '" ~ asset.getType() ~ "', items_id: '" ~ asset.getID() ~ "'}" %}
    <a class="btn btn-outline-warning me-2" onclick="submitGetLink('{{ usage_impact_action_url }}', {{ reset_args }})"><i class="ti ti-trash"></i><span>{{ __('Reset data', 'carbon') }}</span></a>
  {% endif %}
  {% set calculate_args = "{_glpi_csrf_token: '" ~ csrf_token() ~ "', calculate: '', itemtype: '" ~ asset.getType() ~ "', items_id: '" ~ asset.getID() ~ "'}" %}
  <a class="btn btn-primary" onclick="submitGetLink('{{ usage_impact_action_url }}', {{ calculate_args }})">{{ __('Calculate data', 'carbon') }}</a>
</div>

{{ fields.largeTitle(
    __('Embodied impact', 'carbon'),
    'fas fa-chart-pie'
) }}

<div class="card-body d-flex flex-wrap" id="plugin_carbon_embodied_impacts">
  <div class="col-12 col-xxl-12 flex-column">
    <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
      <div class="row flex-row align-items-start flex-grow-1 col-12 col-sm-6 mb-2">
        {% for criteria, label in embodied_labels %}
          {% if embodied_impact.fields[criteria] ?? null is not null %}
            <div class="col-xxl-7">
              {{ label }}
            </div>
            <div class="col-xxl-5">
              <span id="embodied_{{ criteria }}_tip">
                {{ embodied_impact.getHumanReadableImpact(criteria)|raw }}
                {# <i class="fa-solid fa-circle-info"></i> #}
              </span>
              {{ embodied_tooltips[criteria]|raw }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div>
    {% if not embodied_impact.isNewItem() %}
      {% set reset_args = "{_glpi_csrf_token: '" ~ csrf_token() ~ "', reset: '', id: '" ~ embodied_impact.getID() ~ "'}" %}
      <a class="btn btn-outline-warning me-2" onclick="submitGetLink('{{ embodied_impact_action_url }}', {{ reset_args }})"><i class="ti ti-trash"></i><span>{{ __('Reset data', 'carbon') }}</span></a>
    {% endif %}
    {% set calculate_args = "{_glpi_csrf_token: '" ~ csrf_token() ~ "', calculate: '', itemtype: '" ~ asset.getType() ~ "', items_id: '" ~ asset.getID() ~ "'}" %}
    <a class="btn btn-primary" onclick="submitGetLink('{{ embodied_impact_action_url }}', {{ calculate_args }})">{{ __('Calculate data', 'carbon') }}</a>
  </div>
</div>
