{#
 # -------------------------------------------------------------------------
 # carbon plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2024 Teclib' and contributors.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{{ fields.largeTitle(
    __('Usage', 'carbon'),
    'fas fa-chart-pie'
) }}

{{ usage_carbon_emission_graph|raw }}
<div class="card-body" id="cardBodyBorder1">
  {% if usage_impact.fields.gwp is not null %}
    <div class="h1 mb-3">{{ usage_impact.getHumanReadableImpact('gwp')|raw }}</div>
  {% endif %}

  {% if usage_impact.fields.adp is not null %}
    <div class="h1 mb-3">
      <span id="usage_abiotic_depletion_tip">
        {{ usage_impact.getHumanReadableImpact('adp')|raw }}
        {# <i class="fa-solid fa-circle-info"></i> #}
      </span>
      {{ usage_abiotic_depletion_tooltip_html|raw }}
    </div>
  {% endif %}

  {% if usage_impact.fields.pe is not null %}
    <div class="h1 mb-3">{{ usage_impact.getHumanReadableImpact('pe')|raw }}</div>
  {% endif %}
</div>

<div>
  {% if not usage_impact.isNewItem() %}
    {% set reset_args = "{_glpi_csrf_token: '" ~ csrf_token() ~ "', reset: '', id: '" ~ usage_impact.getID() ~ "'}" %}
    <a class="btn btn-primary" onclick="submitGetLink('{{ get_plugin_web_dir('carbon') ~ '/front/usageimpact.form.php' }}', {{ reset_args }})">{{ __('Reset data', 'carbon') }}</a>
  {% endif %}
  {% set calculate_args = "{_glpi_csrf_token: '" ~ csrf_token() ~ "', calculate: '', itemtype: '" ~ asset.getType() ~ "', items_id: '" ~ asset.getID() ~ "'}" %}
  <a class="btn btn-primary" onclick="submitGetLink('{{ get_plugin_web_dir('carbon') ~ '/front/usageimpact.form.php' }}', {{ calculate_args }})">{{ __('Calculate data', 'carbon') }}</a>
</div>

{{ fields.largeTitle(
    __('Embodied impact', 'carbon'),
    'fas fa-chart-pie'
) }}

<div class="card-body" id="cardBodyBorder1">
  {% if embodied_impact.fields.gwp is not null %}
    <div class="h1 mb-3">
      <span id="carbon_emission_tip">
        {{ embodied_impact.getHumanReadableImpact('gwp')|raw }}
        {# <i class="fa-solid fa-circle-info"></i> #}
      </span>
      {{ carbon_emission_tooltip_html|raw }}
    </div>
  {% endif %}

  {% if embodied_impact.fields.adp is not null %}
    <div class="h1 mb-3">
      <span id="embodied_abiotic_depletion_tip">
        {{ embodied_impact.getHumanReadableImpact('adp')|raw }}
        {# <i class="fa-solid fa-circle-info"></i> #}
      </span>
      {{ embodied_abiotic_depletion_tooltip_html|raw }}
    </div>
  {% endif %}

  {% if embodied_impact.fields.pe is not null %}
    <div class="h1 mb-3">
      <span id="embodied_primary_energy_tip">
        {{ embodied_impact.getHumanReadableImpact('pe')|raw }}
        {# <i class="fa-solid fa-circle-info"></i> #}
      </span>
      {{ embodied_primary_energy_tooltip_html|raw }}
    </div>
  {% endif %}

  <div>
    {% if not embodied_impact.isNewItem() %}
      {% set reset_args = "{_glpi_csrf_token: '" ~ csrf_token() ~ "', reset: '', id: '" ~ embodied_impact.getID() ~ "'}" %}
      <a class="btn btn-primary" onclick="submitGetLink('{{ get_plugin_web_dir('carbon') ~ '/front/embodiedimpact.form.php' }}', {{ reset_args }})">{{ __('Reset data', 'carbon') }}</a>
    {% endif %}    {% set calculate_args = "{_glpi_csrf_token: '" ~ csrf_token() ~ "', calculate: '', itemtype: '" ~ asset.getType() ~ "', items_id: '" ~ asset.getID() ~ "'}" %}
    <a class="btn btn-primary" onclick="submitGetLink('{{ get_plugin_web_dir('carbon') ~ '/front/embodiedimpact.form.php' }}', {{ calculate_args }})">{{ __('Calculate data', 'carbon') }}</a>
  </div>
</div>
