<div class="page">

<!-- Header with background image -->
  <header class="page-header header-height justify-content-end illustration">
    <div class="container-xl">
        <h1 class="page-title title-color pb-4">{{ __('GLPI Carbon', 'carbon') }}</h1>
    </div>
  </header>


{% block body %}
	<div class="page-body">
		<div class="container-xl">
			<div class="row row-cards">

        <!-- Row for score cards & information block -->
				<div class="col-sm-6 col-lg-3">
					<div class="card ">
						<div class="card-body carbon-emission-card text-white">
              <span><img class="carbon-emission pb-2" src="../dist/images/carbonemissionicon.png" /></span>
							<div class="subheader text-white">{{ __('Total Carbon Emission', 'carbon') }}</div>
							<div class="h1 mb-3" id="carbonEmission"></div>
						</div>
					</div>
				</div>

        <div class="col-sm-6 col-lg-3">
					<div class="card">
						<div class="card-body power-emission-card">
              <span><img class="carbon-emission pb-2" src="../dist/images/powerconsumptionicon.png" /></span>
							<div class="subheader">{{ __('Total Power Consumption', 'carbon') }}</div>
							<div class="h1 mb-3" id="powerConsumption"></div>
						</div>
					</div>
				</div>

        <div class="col-sm-6 col-lg-6">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 9v4" /><path d="M12 16v.01" /></svg></span>
                </div>
                <div class="col">
                  <h3 class="card-title">{{ __('Information', 'carbon') }}</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet ante ac ex fringilla volutpat non vel elit. Suspendisse tempor vehicula consectetur. Aenean scelerisque facilisis venenatis. Vivamus eleifend egestas blandit. Nullam dignissim blandit felis vitae tempus. Suspendisse potenti.
                </p>
            </div>
          </div>
        </div>

        <!-- Row for score cards -->

        <!-- Row for pie charts
        <div class="col-12">
            <div class="row row-cards">
                <div class="col-sm-6 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">{{ __('Carbon Emission per Type (g CO²)', 'carbon') }}</div>
                            <div class="h1 mb-3" id="carbonEmissionPerModel"></div>
                            <div id="carbonEmissionPerModelChart" class="chart-lg"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">{{ __('Power Consumption per Type (W)', 'carbon') }}</div>
                            <div class="h1 mb-3" id="powerConsumptionPerModel"></div>
                            <div id="powerConsumptionPerModelChart" class="chart-lg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        Row for pie charts -->

        <div class="col-12">
            <div class="row row-cards">
            <div class="col-sm-6 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="subheader">{{ __('Carbon Emission per Month (g CO²)', 'carbon') }}</div>
                        <div class="h1 mb-3" id="carbonEmissionPerMonth"></div>
                        <div id="carbonEmissionPerMonthChart" class="chart-lg"></div>
                    </div>
                </div>
            </div>
        </div>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
	<script>
	document.addEventListener('DOMContentLoaded', function () {

        var carbonColorPalette = ['#1D2A62', '#00A3FF', '#3A3A3A', '#6D7783', '#317399' ];
        var powerColorPalette  = ['#EAB640', '#EB9C43', '#D1330B', '#AD5B34', '#B33C2F' ];

        // Define options for each chart
        var carbonEmissionPerTypeOptions = {
          series: [0.6543, 0.4255, 1.0041, 1.6217, 0.8615],
          labels: ['Desktops', 'Tablets', 'Mobiles', 'Laptops', 'Others'],
          chart: {
            type: 'donut',
            width: '80%',
          },
          colors: carbonColorPalette,
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 300
              },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var carbonEmissionPerMonthOptions = {
          series: [{
            name: 'carbon emission',
            data: [400, 1100, 960, 785, 805, 1056, 1502, 805, 905, 995, 1000, 1200, 1400]
          }],
          chart: {
            height: 350,
            type: 'area',
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'smooth'
          },
          xaxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          },
        };

        var powerConsumptionPerTypeOptions = {
          series: [1200, 1100, 960, 785, 805],
          labels: ['Desktops', 'Tablets', 'Mobiles', 'Laptops', 'Others'],
          chart: {
            type: 'donut',
            width: '80%',
          },
          colors: powerColorPalette,
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
              width: 300
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
        };

        // Initialize charts
        var carbonEmissionPerTypeChart = new ApexCharts(document.querySelector("#carbonEmissionPerModelChart"), carbonEmissionPerTypeOptions);
        var carbonEmissionPerMonthChart = new ApexCharts(document.querySelector("#carbonEmissionPerMonthChart"), carbonEmissionPerMonthOptions);
        var carbonConsumptionPerTypeChart = new ApexCharts(document.querySelector("#powerConsumptionPerModelChart"), powerConsumptionPerTypeOptions);
        // Render charts
        carbonEmissionPerTypeChart.render();
        carbonEmissionPerMonthChart.render();
        carbonConsumptionPerTypeChart.render();

        // Fetch data with Ajax
        fetch(CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.carbon + "/ajax/totalCarbonEmission.php").then(response => {
            console.log(response);
            return response.json();
        }).then(data => {
            let totalCarbonEmission = data;
            document.getElementById('carbonEmission').textContent = totalCarbonEmission;
        });

        fetch(CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.carbon + "/ajax/totalPowerConsumption.php").then(response => {
            console.log(response);
            return response.json();
        }).then(data => {
            let totalPowerConsumption = data;
            document.getElementById('powerConsumption').textContent = totalPowerConsumption;
        });

        fetch(CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.carbon + "/ajax/totalCarbonEmissionPerModel.php").then(response => {
            console.log(response);
            return response.json();
        }).then(data => {
            let carbonEmissionPerModel = data;
            console.log(carbonEmissionPerModel);
        });

        fetch(CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.carbon + "/ajax/carbonEmissionPerMonth.php").then(response => {
            console.log(response);
            return response.json();
        }).then(data => {
            let carbonEmissionPerMonth = data;
            console.log(carbonEmissionPerMonth);
        });
    });
</script>
{% endblock %}

{% block styles %}
{% endblock %}
