{#
 # -------------------------------------------------------------------------
 # Carbon plugin for GLPI
 #
 # @copyright Copyright (C) 2024-2025 Teclib' and contributors.
 # @license   https://www.gnu.org/licenses/gpl-3.0.txt GPLv3+
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 #
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Carbon plugin for GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # -------------------------------------------------------------------------
 #}

{% extends "generic_show_form.html.twig" %}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% import '@carbon/components/form/fields_macros.html.twig' as carbonFields %}

{% block form_fields %}
    <div class="hr-text">
        <i class="ti ti-list"></i>
        <span>{{ __('Boavizta', 'carbon') }}</span>
    </div>

    {{ carbonFields.dropdownBoaviztaZone('boavizta_zone',
        item.fields['boavizta_zone'] ?? '',
        __('Boavizta zone', 'carbon'),
        {
            'display_emptychoice': true,
        }) }}

    <div class="hr-text">
        <i class="ti ti-list"></i>
        <span>{{ __('Carbon intensity', 'carbon') }}</span>
    </div>

    {% set plugin_carbon_zones_rand = random() %}
    {{ fields.dropdownField('GlpiPlugin\\Carbon\\Source',
        'plugin_carbon_sources_id',
        source_id,
        __('Source', 'carbon'),
        {
            display_emptychoice: true,
            multiple: false,
            disabled: false,
            condition: {
                is_fallback: 0,
                is_carbon_intensity_source: 1
            },
        }) }}

    <script type="text/javascript">
        $(function() {
            $('select[name="plugin_carbon_sources_id"]').on("change", function () {
                var zone_dom_id = $('select[name="plugin_carbon_zones_id"]').prop('id').replace(/\D+/g,'');
                $('select[name="plugin_carbon_zones_id"]').closest('.btn-group').load(
                    '{{ config('root_doc') }}/plugins/carbon/ajax/dropdownZone.php', {
                        plugin_carbon_sources_id: document.querySelector('select[name="plugin_carbon_sources_id"]').value,
                        dom_id: zone_dom_id
                    }
                );
            })
        })
    </script>

    {{ fields.dropdownField('GlpiPlugin\\Carbon\\Zone',
        'plugin_carbon_zones_id',
        zone_id,
        _n('Carbon intensity zone', 'Carbon intensity zones', 1, 'carbon'),
        {
            rand: plugin_carbon_zones_rand,
            display_emptychoice: true,
            condition: zone_condition,
            disabled: (source_id == 0)
        }) }}
{% endblock %}
