{#
 # -------------------------------------------------------------------------
 # Carbon plugin for GLPI
 #
 # @copyright Copyright (C) 2024-2025 Teclib' and contributors.
 # @license   https://www.gnu.org/licenses/gpl-3.0.txt GPLv3+
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 #
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Carbon plugin for GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # -------------------------------------------------------------------------
 #}

<style>
    #{{ chart_id }} {
        background-color: {{ color }};
        color: {{ fg_color }};
    }

    #{{ chart_id }}:hover {
        background-color: {{ fg_hover_color }};
        border: 1px solid {{ fg_hover_border }};
    }

    .theme-dark #{{ chart_id }} {
        background-color: {{ dark_bg_color }};
        color: {{ dark_fg_color }};
    }

    #{{ chart_id }} .ct-label {
        fill: {{ fg_color }};
        color: {{ fg_color }};
    }

    .theme-dark #{{ chart_id }} .ct-label {
        fill: {{ dark_fg_color }};
        color: {{ dark_fg_color }};
    }

    #{{ chart_id }} .apexcharts-xaxis text{
        fill: {{ fg_color }};
    }

    .theme-dark #{{ chart_id }} .apexcharts-xaxis text{
        fill: {{ dark_fg_color }};
    }

    #{{ chart_id }} polygon, #{{ chart_id }} .apexcharts-plot-series line {
        stroke: {{ fg_color }};
    }

    .theme-dark #{{ chart_id }}, #{{ chart_id }} .apexcharts-plot-series line {
        stroke: {{ dark_fg_color }};
    }

    {{ palette_style }}
</style>
<div style="height: 100%">
    <div class="card g-chart {{ class }}" id="{{ chart_id }}">
        <div class="chart ct-chart">{{ no_data_html }}</div>
        {# <span class="main-label">{{ label }}</span> #}
        <i class="main-icon {{ icon }}"></i>
    </div>
</div>

{% block scripts %}
<script>
  $(document).ready(function () {
    var currentUrl = window.location.href;

    if (currentUrl.includes('dashboard')) {
      document.getElementById('cardBodyBorder1').classList.add('border', 'border-2');
    }

    var chart = new ApexCharts(document.querySelector("#{{ chart_id }} "), {{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }});
    chart.render();
  });
</script>
{% endblock %}
