{#
 # -------------------------------------------------------------------------
 # carbon plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2024 Teclib' and contributors.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 # -------------------------------------------------------------------------
 #}

<style>
    #{{ chart_id }} {
        background-color: {{ color }};
        color: {{ fg_color }};
    }

    #{{ chart_id }}:hover {
        background-color: {{ fg_hover_color }};
        border: 1px solid {{ fg_hover_border }};
    }

    .theme-dark #{{ chart_id }} {
        background-color: {{ dark_bg_color }};
        color: {{ dark_fg_color }};
    }

    #{{ chart_id }} .ct-label {
        fill: {{ fg_color }};
        color: {{ fg_color }};
    }

    .theme-dark #{{ chart_id }} .ct-label {
        fill: {{ dark_fg_color }};
        color: {{ dark_fg_color }};
    }

    #{{ chart_id }} .apexcharts-xaxis text{
        fill: {{ fg_color }};
    }

    .theme-dark #{{ chart_id }} .apexcharts-xaxis text{
        fill: {{ dark_fg_color }};
    }

    #{{ chart_id }} polygon, #{{ chart_id }} .apexcharts-plot-series line {
        stroke: {{ fg_color }};
    }

    .theme-dark #{{ chart_id }}, #{{ chart_id }} .apexcharts-plot-series line {
        stroke: {{ dark_fg_color }};
    }

    {{ palette_style }}
</style>
<div style="height: 100%">
    <div class="card g-chart {{ class }}" id="{{ chart_id }}">
        <div class="chart ct-chart">{{ no_data_html }}</div>
        {# <span class="main-label">{{ label }}</span> #}
        <i class="main-icon {{ icon }}"></i>
    </div>
</div>

{% block scripts %}
<script>
  $(document).ready(function () {
    var currentUrl = window.location.href;

    if (currentUrl.includes('dashboard')) {
      document.getElementById('cardBodyBorder1').classList.add('border', 'border-2');
    }

    var chart = new ApexCharts(document.querySelector("#{{ chart_id }} "), {{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }});
    chart.render();
  });
</script>
{% endblock %}