{#
 # -------------------------------------------------------------------------
 # carbon plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2024 Teclib' and contributors.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 # -------------------------------------------------------------------------
 #}

<style>
    #{{ id }} {
        background-color: {{ color }};
        color: {{ fg_color }};
    }

    #{{ id }}:hover {
        background-color: {{ fg_hover_color }};
        border: 1px solid {{ fg_hover_border }};
    }

    .theme-dark #{{ id }} {
        background-color: {{ fg_color }};
        color: {{ color }};
    }

    .theme-dark #{{ id }}:hover {
        background-color: {{ fg_hover_color }};
        color: {{ fg_color }};
        border: 1px solid {{ fg_hover_border }};
    }
</style>
<div class="card" id="{{ id }}">
    <div class="card-body" style="height: 100%">
        <div class="row align-items-center">
            <div class="col-auto" id="carbonEmbodiedPrimaryEnergyElement">
                <span><img src="{{ get_plugin_web_dir('carbon') }}/dist/images/carbon_emission_icon_darkgreen.png"></img></span>
            </div>
            <div class="col">
                <div class="subheader">{{ __('Embodied primary energy', 'carbon') }}</div>
            </div>
            <div class="my-3 number text-center">{{ number|raw }}</div>
        </div>
    </div>
</div>
<script>
(function () {
    observer = new ResizeObserver(entries => {
        for (const entry of entries) {
            $(entry.target).fitText(0.7);
        }
    })
    observer.observe(document.querySelector('#{{ id }} .number'));
})();
</script>
