{#
 # -------------------------------------------------------------------------
 # carbon plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2024 Teclib' and contributors.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 # -------------------------------------------------------------------------
 #}
<style>
    #{{ id }} {
        background-color: {{ color }};
        color: {{ fg_color }};
    }

    #{{ id }}:hover {
        background-color: {{ fg_hover_color }};
        border: 1px solid {{ fg_hover_border }};
    }

    .theme-dark #{{ id }} {
      background-color: {{ fg_color }};
      color: {{ color }};
    }

    .theme-dark #{{ id }}:hover {
        background-color: {{ fg_hover_color }};
        color: {{ fg_color }};
        border: 1px solid {{ fg_hover_border }};
    }

    #{{ id }} .apexcharts-title-text {
        fill: {{ fg_color }};
    }

    .theme-dark #{{ id }} .apexcharts-title-text {
        fill: {{ dark_fg_color }};
    }
  </style>
<div class="card" id="{{ id }}">
  <div class="card-body">
      <div class="h1 mb-3" id="carbonEmissionPerMonth"></div>
      <div id="carbonEmissionPerMonthChart" class="chart-lg"></div>
  </div>
</div>

{% block scripts %}
<script>
  $(document).ready(function () {
    var currentUrl = window.location.href;

    if (currentUrl.includes('dashboard')) {
      document.getElementById('cardBodyBorder1').classList.add('border', 'border-2');
    }

    var carbonEmissionPerMonthChart = new ApexCharts(document.querySelector("#carbonEmissionPerMonthChart"), {{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }});
    carbonEmissionPerMonthChart.render();
  });
</script>
{% endblock %}
