{#
 # -------------------------------------------------------------------------
 # Carbon plugin for GLPI
 #
 # @copyright Copyright (C) 2024-2025 Teclib' and contributors.
 # @license   https://www.gnu.org/licenses/gpl-3.0.txt GPLv3+
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 #
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Carbon plugin for GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # -------------------------------------------------------------------------
 #}

<style>
    #{{ id }} {
        background-color: {{ color }};
        color: {{ fg_color }};
    }

    #{{ id }}:hover {
        background-color: {{ fg_hover_color }};
        border: 1px solid {{ fg_hover_border }};
    }

    .theme-dark #{{ id }} {
        background-color: {{ fg_color }};
        color: {{ color }};
    }

    .theme-dark #{{ id }}:hover {
        background-color: {{ fg_hover_color }};
        color: {{ fg_color }};
        border: 1px solid {{ fg_hover_border }};
    }
</style>
<div class="card" id="{{ id }}">
    <div class="card-body">
        <h3 class="card-title">{{__('Want to know more ?','carbon')}}</h3>
        <p class="text-secondary">{{ __('Here is a video about the impact of numeric on the enviromnent.','carbon')}}</p>
    </div>
    <!-- Card footer -->
    <div class="d-flex justify-content-center">
        <a href="https://www.youtube.com/watch?v=o4_DLOuGToQ" target="_blank" class="btn">Go see the video</a>
    </div>
</div>