{#
 # -------------------------------------------------------------------------
 # Carbon plugin for GLPI
 #
 # @copyright Copyright (C) 2024-2025 Teclib' and contributors.
 # @license   https://www.gnu.org/licenses/gpl-3.0.txt GPLv3+
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 #
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Carbon plugin for GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # -------------------------------------------------------------------------
 #}

<style>
    #{{ id }} {
        background-color: {{ color }};
        color: {{ fg_color }};
    }

    #{{ id }}:hover {
        background-color: {{ fg_hover_color }};
        border: 1px solid {{ fg_hover_border }};
    }

    #{{ id }} .label {
        text-transform: uppercase;
        color: {{ label_color }};
        font-weight: bold;
    }

    #{{ id }} .variation-up {
        color: {{ increase_color }}
    }

    #{{ id }} .variation-dn {
        color: {{ decrease_color }}
    }

    #{{ id }} .icon .cls-1 {
        fill: {{ fg_color }} !important;
    }

    #{{ id }} .icon .cls-2 {
        stroke: {{ fg_color }} !important;
    }

    .theme-dark #{{ id }} {
        background-color: {{ fg_color }};
        color: {{ color }};
    }

    .theme-dark #{{ id }}:hover {
        background-color: {{ fg_hover_color }};
        color: {{ fg_color }};
        border: 1px solid {{ fg_hover_border }};
    }

    .theme-dark #{{ id }} .label {
        color: {{ dark_label_color }};
    }

    .theme-dark #{{ id }} .variation-up {
        color: {{ dark_increase_color }}
    }

    .theme-dark #{{ id }} .variation-dn {
        color: {{ dark_decrease_color }}
    }

    .theme-dark #{{ id }} .icon .cls-1 {
        fill: {{ color }} !important;
    }

    .theme-dark #{{ id }} .icon .cls-2 {
        stroke: {{ color }} !important;
    }
</style>
<div class="card" id="{{ id }}">
    <div class="card-body" style="height: 100%">
        <div class="row align-items-center">
            <div class="col-auto">
                <span class="icon icon-size">
                    {{ source('@carbon/dashboard/icon-carbon-emission-agenda.svg') }}
                </span>
            </div>
            <div class="col">
                <div class="label">{{ __('Monthly usage carbon emission', 'carbon') }}</div>
                <div class="label">{{ last_month }}</div>
                <div class="my-3 number">{{ last_month_emissions }}</div>
                <div class="label">{{ __('Compared to %s', 'carbon')|format(penultimate_month) }}</div>
                {% if variation > 0 %}
                    <p class="m-0 variation-up" id="monthlyComparison">↑ {{ percentage_change }}%</p>
                {% else %}
                    <p class="m-0 variation-dn" id="monthlyComparison">↓ {{ percentage_change }}%</p>
                {% endif %}
            </div>
            <div class="info-tooltip">
                <span id="{{ id }}_tip">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<script>
(function () {
    observer = new ResizeObserver(entries => {
        for (const entry of entries) {
            $(entry.target).fitText(0.7);
        }
    })
    observer.observe(document.querySelector('#{{ id }} .number'));
})();
</script>
{{ tooltip_html|raw }}
